*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(246, 248, 249);
    font-family: 'Varela Round', sans-serif;
}

/* grandezza e font del titolo e grandezza del logo */
header{
    height: 70px;
    line-height: 70px;
    background-color: white;
    padding-left: 40px;

}

#img-title{
    height: 50px;
    display: inline-block;
    line-height:50px;
    vertical-align: middle;
}

#title{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

/* Caratteristiche deli button */
.button{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#blu-button{
    background-color: rgb(71, 173, 241);
    color: white;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    width: 100px;
    
}

#white-button{
    color: lightgray;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    width: 100px;
}

/* Caratteristiche della lista */
.list{
    max-width: 1000px;
    margin: auto;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    margin-top: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


ul {
    list-style: none;
}

li{
    margin-top: 10px;
}


span /* Da dimensione forma e definisce il carattere e il colore del testo dei badge*/{
    display: inline-block;
    height: 30px;
    width: 80px;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height:30px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    color: white;
}

/* colore dei badge */
.blu{
    background-color : rgb(71, 173, 241);
    
}

.viola{
    background-color: rgb(156, 114, 228);
}

.verde{
    background-color:rgb(100, 192, 169)
}

.arancio{
    background-color: rgb(242, 158, 51);
}

.rosa{
    background-color: rgb(216, 99 , 161);
}

.sale{
    background-color: rgb(176, 201, 38);
}

/* dimensione firma autore */
footer{
    margin: auto;
    max-width: 1000px;
    height: 50px;
    margin-top: 100px;
}