*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(246, 248, 249);
}
header{
    height: 70px;
    line-height: 70px;
    background-color: white;
    padding-left: 40px;

}

#img-title{
    height: 50px;
    display: inline-block;
    line-height:50px;
    vertical-align: middle;
}

#title{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.button{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#blu-button{
    background-color: rgb(71, 173, 241);
    color: white;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    
}

#white-button{
    color: lightgray;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
}

.list{
    max-width: 1000px;
    margin: auto;
    padding-left: 50px;
    background-color: white;
    margin-top: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
    

